.flash-box
.wrapper
  = render partial: "shared/side_bar"
  .chat-main
    .main-header
      .current-group{data: {group_id: "current.user"}}
        %h2.current-group__name グループ名
        %ul.member-list
          Member：
          %li.member-list__member
      =link_to edit_group_path(@group) do
        .main-header__edit-btn edit
    .messages
      = render partial: "messages/message", collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


