.flash-box
.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name 石川
      %ul.user-menu
        %li.user-menu__edit-user
          %i.fa.fa-edit
        %li.user-menu__new-group
          %i.fa.fa-cog
    .groups
      =link_to ""
      .group
        - current_user.groups.each do |group|
          .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              = group.show_last_message
  .chat-main
    .main-header
      .current-group{data: {group_id: "1952"}}
        %h2.current-group__name テスト
        %ul.member-list
          Member：
          %li.member-list__member test0321くん
      =link_to edit_group_path(@group) do
        .main-header__edit-btn edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


